.table-shopping {
  width: 50%;
  border: 1px solid rgba(0, 0, 0, 0.808);
  border-collapse: collapse;
  margin: 10px;
}

.table-shopping th,
.table td {
  border: 1px solid #646363;
}

.row-data {
  border: 1px solid black;
}

.row-head th {
  text-align: left;
  padding-block: 1rem;
  border-right: 1px solid rgba(0, 0, 0, 0.774);
  padding-left: 10px;
}

.container-shopping {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.row-shopping {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8rem;
  padding-block: 1rem;
}

.row-data td {
  text-align: left;
  padding: 1rem;
  border-right: 1px solid rgba(0, 0, 0, 0.774);
}

.row-data:nth-child(even) {
  background-color: #858383;
}
